@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    background-image: url("./background1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px;

    width: 1000px;
    height: 800px;
    position: relative;
    /* overflow: hidden; */

}

.main1{
    position: relative;
    top: 220px;
    left: 220px; 
}

.main1 img{
    width: 220px;
    height: auto;
    cursor: pointer;
}

/* 마우스 갖다대면 사이즈 커짐 */
.main1:hover img {
    transform: scale(1.1);
    transition: all 0.1s linear;
}


.main2{
    position: relative;
    bottom: 30px;
    left: 450px;
}

.main2 img{
    max-width: 180px;
    height: auto;
    cursor: pointer;
}

.main2:hover img {
    transform: scale(1.1);
    transition: all 0.1s linear;
}

.main3 {
    position: absolute;
    top: 330px;
    left: 630px;
}

.main3 img {
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

.main3:hover img {
    transform: scale(1.1);
    transition: all 0.1s linear;
}

.main4 {
    position: absolute;
    top: 410px;
    left: 840px;
}

.main4 img {
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

.main4:hover img {
    transform: scale(1.1);
    transition: all 0.1s linear;
}

.main5 {
    position: absolute;
    top: 200px;
    left: 1050px;
}

.main5 img {
    max-width: 240px;
    height: auto;
    cursor: pointer;
}

.main5:hover img {
    transform: scale(1.1);
    transition: all 0.1s linear;
}

.modal {
    display: none;
    /* 모달 기본적으로 숨김 */
    position: fixed;
    /* padding-bottom: 200px; */
    z-index: 1;
    width: 100%;
    height: 100%;
    /* 더 큰 z-index 값을 가진 요소가 작은 값의 요소 위를 덮습니다 */
    /* left: 0;
    top: 0; */

    /* overflow: hidden; */
    background-color: rgba(0, 0, 0, 0.5);
    /* 배경을 어둡게 표시 */
}

.modal-content {
    /* position: relative; */
    background-color: white;
    margin: 110px auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius:10px;
    width: 800px;
    height: 500px;
}

.modal-info {
    display: flex;
    text-align: left;
    width: 300px;
    height: 300px;
}

.modal-info img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.modal-text {
    /* flex: 1 0 700px; */
    font-size: 20px;
    width: 500px;
}

.mypost {
    display: flex;
    width: 800px;
}

.text-1 {
    width: 80px;
}

.text-2 {
    width: 350px;
}




.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */